<!DOCTYPE html>

<html>

<head>
  <title>Dashboard</title>
  <script src="javascripts/api/dashboardCalls.js"></script>
  <script src="javascripts/dashboard.js"></script>
  <script src="javascripts/api/widgetCalls.js"></script>
  <script src="javascripts/norrisWidget.js"></script>
  <script src="javascripts/formulaWidget.js"></script>
  <script src="javascripts/weatherWidget.js"></script>
  <script src="javascripts/footballWidget.js"></script>
  <script src="jquery/dist/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    crossorigin="anonymous"></script>
  <script src="js-cookie/dist/js.cookie.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="gridstack/dist/gridstack-h5.js"></script>
  <link href="gridstack/dist/gridstack.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/dashboard.css">
  <link rel="stylesheet" href="stylesheets/sidenav.css">
</head>

<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <div id="presWiget" class="grid-stack-item ui-draggable" style="position: relative;" gs-w="3" gs-h="3">
      <div class="grid-stack-item-content" draggable="true">
        <div class="card-row card-header">
          <div class="">Widget</div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Drag me to the grid</h5>
          <p class="card-text">After being dropped to the grid you can customize me.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="header">
      <div class="header-body">
        <div class="row align-items-end row">
          <div>
            <h6 class="header-pretitle">Overview</h6>
            <button type="button" class="lift btn btn-dark right" onclick="logout()">Logout</button>
          </div>
          <div class="spacer" style="display: flex;">
            <div style="flex: 6;">
              <h1 class="header-title" >Dashboard</h1>
            </div>
            <div style="justify-content: center; flex: 6;">
              <a class="pointer" onclick="refreshDashboard()" style="height: 45px; width: 45px; display: block;">
                <svg class="transform" style="flex: 1;" xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                  class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                  <path
                    d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                </svg>
              </a>
            </div>
            <a style="justify-content: center;">
              <button type="button" class="lift btn btn-dark" onclick="toggleNav()">Edit Dashboard</button>
            </a>
          </div>
        </div>
      </div>

      <div class="my-grid">
        <div class="grid-stack">

        </div>
      </div>
    </div>

</body>

</html>