<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="javascripts/api/login.js"></script>
    <script src="js-cookie/dist/js.cookie.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="stylesheets/index.css" type="text/css"/>
  </head>

  <body>
    <style type="text/css">
      .grid-stack {
        background: #FAFAD2;
      }
      .grid-stack-item-content {
        background-color: #18BC9C;
      }
    </style>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="images/login.png" id="icon" alt="User Icon"/>
        </div>

        <!-- Login Form -->
        <form id="login-form" onsubmit="return false">
          <input type="text" required="true" id="login" class="fadeIn second" name="email" placeholder="email">
          <input type="text" id="password" required="true" class="fadeIn third" name="password" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </body>
</html>