<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="javascripts/api/signup.js"></script>
    <script src="js-cookie/dist/js.cookie.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/index.css" type="text/css"/>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h1 class="fadeIn first title">Sign up</h1>
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="images/signup.png" id="icon" alt="User Icon"/>
        </div>

        <span id="error"></span>

        <!-- Login Form -->
        <form id="signup-form" onsubmit="return false">
          <input type="email" required="true" id="login" class="fadeIn second" name="email" placeholder="Email">
          <input type="password" id="password" required="true" class="fadeIn third" name="password" placeholder="Password">
          <i class="fas fa-eye-slash fadeIn third" id="togglePassword"></i>
          <input type="password" id="repeatpassword" required="true" class="fadeIn third" name="repeatpassword" placeholder="Repeat password">
          <i class="fas fa-eye-slash fadeIn third" id="toggleRepeatPassword"></i>
          <input type="button" class="fadeIn fourth" id="back" value="Back">
          <input type="submit" class="fadeIn fourth" value="submit">
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </body>
</html>