.my-grid.edit {
    border-style: dashed;
    border-color: #b5b5b5;
}

.presenter-widget {
    display: inline-block;
}

.widget-content > * {
    margin: 3px;
}

.grid-stack-item-content {
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.grid-stack-item-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header {
    margin-bottom: 2rem;
}

.card-row {
    display: flex;
    justify-content: space-between;
}


.btn-close.disabled {
    display: none;
}

.align-items-end {
    align-items: flex-end!important;
}

.header-title {
    display: inline-block;
    margin-bottom: 0;
}

.title {
    flex: 15;
}

.spacer {
    margin-top: 1.5rem;
}

.header-pretitle {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #95aac9;
}

.header-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e3ebf6;
}

.right {
    position: absolute;
    right: 16px;
  }

.pointer {
    cursor: pointer;
}

.temperature {
    float: right;
    color: #666;
    font-weight: 300;
    font-size: 6.59375em;
    line-height: .2em;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .2s;
}

td > img {
    height: 40px;
    width: 40px;
}

.mood {
    color: #777;
}

.transform {
    transition: transform 0.4s ease-in;
}

.transform > path {
    transition: fill 0.4s ease-in;
}

.transform:hover {
    transform: rotate(-360deg);
    fill: #39ace7;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 20px;
}

blockquote p:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

.btn:hover, .btn:focus, .btn-dark:focus, .btn:not(:disabled):not(.disabled):active, .btn:active, .btn.active, .open .dropdown-toggle.btn
{

    background-color: #39ace7;
    border-color: #39ace7;
    color: white;
}

.btn:focus, .btn-dark:focus {
    box-shadow: 0 0 0 0.2rem rgb(4 115 226 / 50%);
}
.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(4 115 226 / 50%);
}

.btn
  {
    background-color: #56baed;
    border-color: #56baed;
    color: white;
}

.clock-custom{
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -webkit-flex;
    height: 130px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    left: calc(50% - 300px);
    position: absolute;
    top: calc(50% - 65px);
    width: 600px;
  }
  .unit{
    background: linear-gradient(#aaa, #777);
    border-radius: 15px;
    box-shadow: 0 2px 2px #444;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 5em;
    height: 100%;
    line-height: 130px;
    margin: 0 10px;
    text-align: center;
    text-shadow: 0 2px 2px #666;
    width: 23%;
  }