.my-grid.edit {
    border-style: dashed;
    border-color: #b5b5b5;
}

.presenter-widget {
    display: inline-block;
}

.widget-content > * {
    margin: 3px;
}

.grid-stack-item-content {
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.grid-stack-item-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header {
    margin-bottom: 2rem;
}

.card-row {
    display: flex;
    justify-content: space-between;
}


.btn-close.disabled {
    display: none;
}

.align-items-end {
    align-items: flex-end!important;
}

.header-title {
    margin-bottom: 0;
}

.header-pretitle {
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #95aac9;
}

.header-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e3ebf6;
}

.pointer {
    cursor: pointer;
  }